<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College_Boys Chat</title>
</head>
<body>
<form action="/enter" method="get" name="EnterForm">

    <p><input maxlength="20" name="Login" type="text" value="Login"/>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

    <p><input name="Password" type="password" value="Password"/></p>

    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button>Войти</button>
    </p>
</form>

<form action="/register" method="get" name="Register">
    <p>
        <button>Зарегистрироваться</button>
    </p>
</form>

<p>&nbsp</p>

</body>
</html>